.musicContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  margin: 0.5rem;
  width: 25rem;
  height: 5rem;
  border-radius: 1rem;
  background: #e3e5ff;
  box-shadow:
    0px 3px 5px 0px rgba(0, 0, 0, 0.25) inset,
    0px 4px 5px 3px rgba(134, 126, 126, 0.25);
}

button {
  border: none;
  background: none;
  cursor: pointer;
}
